@import 'theme';

.semantic-branch-section {
  @include card;
  @include sectionBase;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    @include h3;
    color: $primary-color;
  }

  select {
    flex: 1;
    margin-top: $spacing-sm;
    @include input;
    min-width: 120px;
    max-width: 220px;
  }
}
