@import 'theme';

.semantic-branch-section {
  @include card;
  @include sectionBase;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    @include h3;
    color: $primary-color;
  }

  select {
    @include input;
    flex: 1;
    margin-top: $spacing-sm;
    width: 100%;
    min-width: 120px;

    option.description-option {
      @include font-size-xs;
      color: darken(#fff, 40%);
      padding-left: $spacing-lg;
      background-color: inherit !important;
      font-style: italic;
    }
  }
}
